* {
  list-style: none;
}

.navbar .container-fluid a {
  color: white;
}

.navbar .container-fluid .nav-item a.nav-link.nav-link.active{
  font-weight: 500;
  color: rgb(197, 197, 197);
}

.fa-star{
  color: #ffc107;
}

main{
  min-height: 100vh;
}

.navbar {
  color: white;
}

.footer {
 background-color: #6c757d; 
 font-size: 0.8rem;
}

.link-utili{
 font-size: 1rem;
}

.lavora-con-noi {
  font-size: 1rem;
 }

 .navbar-toggler {
  border: 1px solid white;
 }

 .fa-bars {
  color: whitesmoke;
 }

 .navbar-toggler:focus {
  outline: none; /* Rimuove l'outline di default */
  box-shadow: 0 0 0 2px white; /* Aggiunge un box-shadow personalizzato al bottone cliccato (esempio di colore arancione) */
}

/* caselle input */
.custom-width {
  max-width: 200px; 
  width: 100%;
  margin-bottom: 15px;
  text-align: center;
}

.custom-width-city {
  max-width: 250px;
  width: 100%;
  margin-bottom: 20px;
}

a {
  text-decoration: none !important;
}
